/*GENERAL*/
html, body {
    height: 100%;
}

body {
    background-image: url('../imgs/background.png');
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

svg {
    display: block;
}

/*GENERAL END*/
.site-header {
    max-height: 7%;
    padding: 17px 78px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-interactive-item {
    transition: 1s;
}

.header-interactive-item:hover {
    fill: #236C47;
    color: #236C47;
}

.site-header-title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.site-header-nav {
    display: flex;
    align-items: center;
}

.site-header-nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.site-header-nav-menu li {
    display: inline;
    margin-right: 26px;
}

.site-header-nav-menu::after {
    content: '';
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
}
.site-header-nav-login-signup {
    padding-left: 27px;
}

/*HEADER & NAV */

/*HEADER & NAV END*/

/*MAIN*/
.site-main {
    box-sizing: border-box;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 712px;
}

.site-main-auth-box {
    position: relative;
    box-sizing: border-box;
    padding: 31px 60px 38px;
    max-width: 444px;
    background: #FFF;
}

.site-main-auth-box::before{
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    left: 0;
    background: #3CB878;
}

.site-main-auth-box-heading, .site-main-auth-box-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.site-main-auth-box-socials {
    flex-direction: row;
    margin-top: 15px;
}

.site-main-auth-box-title {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.site-main-auth-box-login-switch {
    display: inline-block;
    vertical-align: bottom;
}

.site-main-auth-box-external-link {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: 1s;
}

.site-main-auth-box-external-link:hover {
    text-decoration: underline;
    color: #01813F;
}

.site-main-auth-box-social-login-button {
    box-sizing: border-box;
    min-width: 155px;
    height: 50px;
    margin: 0 auto;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
}

.site-main-auth-box-social-login-button-separator {
    width: 1px;
    height: 28px;
    background: rgba(0, 0, 0, 0.1);
}

.site-main-auth-box-social-login-button-title {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #FFF;
}

.site-main-auth-box-social-login-button-title::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 28px;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 18px;
}


#facebook-login-button {
    background: #305DB8;
}

#facebook-login-button:hover {
    background: #022263;
}

#google-login-button {
    background: #DF4A32;
}
#google-login-button img{
    height: 1.5em;
}

#google-login-button:hover {
    background: #AB1F09;
}

/*FORM*/
.site-main-auth-box-form:before {
    content: 'or';
    box-sizing: border-box;
    font-size: 14px;
    position: absolute;
    top: -0.6em;
    left: calc(50% - 1em);
    padding: 0 0.5em;
    background: #FFF;
    color: #848484;

}

.site-main-auth-box-form {
    position: relative;
    border-top: 1px solid #F2F2F2;
    margin-top: 40px;
}

.site-main-auth-box-form-input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    padding: 16px 20px;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
    font-family: "Ubuntu", sans-serif;
    transition: 1s;
}

.site-main-auth-box-form-input {
    height: 50px;
}

.site-main-auth-box-form-input::placeholder {
    color: #BEBEBE;
}

.site-main-auth-box-form-input:focus {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.site-main-auth-box-input-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

#terms-agree-form-checkbox-label {
    height: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 12px;
    color: #434343;
    font-size: 14px;
    cursor: pointer;
}

.site-main-auth-box-form-checkbox {
    display: inline-block;
    position: relative;
    appearance: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
}

.site-main-auth-box-form-checkbox:focus{
    outline: none;
}

.site-main-auth-box-form-checkbox:before {
    position: absolute;
    top: 0;
    left: 0;
    content: url("../imgs/form-tick.svg");
    opacity: 0;
    transition: 1s;
}

.site-main-auth-box-form-checkbox:checked::before {
    opacity: 1;
}

label[for="terms-agree-form-checkbox"] {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #434343;
}

.site-main-auth-box-form-submit{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 1em;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: rgba(60, 184, 120, 0.8);
    color: #FFF;
    transition: 1s;
}

.site-main-auth-box-form-submit:hover{
    background: #01813F;
}

/*FORM ENDS*/

/*MAIN ENDS*/
