.articles-collection {
  margin-bottom: 77px;

  .article-thumbnail {
    margin-top: 32px;

    &__illustration {
      width: 160px;
      height: 140px;
      display: block;
    }

    &__title {
      margin: 15px 0 11px;
      font-weight: 700;
      font-size: 14px;
    }

    &__meta-info {
      color: $meta-text-color;
      font-size: 11px;
    }

    &__thumbnail-text {
      display: none;
      font-size: 14px;
      line-height: 26px;
      color: $thumbnail-text-color;
    }
  }
}

@media all and (min-width: 768px) {
  .articles-collection {
    .article-thumbnail {
      width: 90%;

      &::after {
        content: ' ';
        display: block;
        clear: both;
      }

      &__illustration {
        float: left;
        margin-right: 21px;
      }

      &__meta-info {
        margin-bottom: 13px;
      }

      &__thumbnail-text {
        display: initial;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .articles-collection {
    .article-thumbnail {
      display: inline-block;
      width: 45%;
      margin-right: 30px;
    }
  }
}


