.footer {
  padding: 47px 0 38px;
  background: #000;
  color: $footer-text-color;
  text-align: center;
  font-size: 14px;

  &__title {
    color: #FFF;

    &::after {
      content: ' -';
    }
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
  }

  &__socials-links-wrapper {
    margin: 26px 0;
  }

  &__social-link {
    width: 34px;
    height: 34px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    @each $name, $color in $socials-colors {
      &--#{$name} {
        $img-path: '../imgs/social-icons/'+$name+'-icon.png';
        background-image: url($img-path);
        border: 2px solid $color;
      }
    }

  }

  &__contacts {
    padding: 0 2em;
    line-height: 24px;
  }
}
