.header {
  margin-bottom: 38px;

  &-nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 23px 0;

    &-button {
      width: 44px;
      height: 37px;
      padding: 0 13px;
      background: #000;
      cursor: pointer;

      &__bar {
        width: 17px;
        height: 2px;
        background-color: #FFF;
        margin: 2px 0;
        transition: 0.4s;

        .menu-opened &--bar1 {
          transform: rotate(-45deg) translate(-3px, 3px);
        }

        .menu-opened &--bar2 {
          opacity: 0;
        }

        .menu-opened &--bar3 {
          transform: rotate(45deg) translate(-3px, -3px);
        }
      }
    }

    &-list {
      display: none;

      .menu-opened+& {
        width: 182px;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
      }

      &__item {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 22px;
        background: $dropdown-nav-menu-background;
        padding: 5px 12px;

        &--home-page {
          color: $home-page-link-color;
          background: $dropdown-nav-menu-background;
        }

        &:hover {
          background: $dropdown-nav-menu-background-hover;
        }
      }
    }
  }

  &__illustration {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .header {
    margin-bottom: 56px;

    &-nav {
      margin: 41px 0;
      justify-content: center;

      &-button {
        display: none;
      }

      &-list {
        display: inline-flex;

        &__item {
          display: unset;
          background: none;
          padding: 0 17px;

          &:hover {
            background: none;
          }
        }
      }
    }
  }
}