.socials-highlights {
  margin-bottom: 42px;

  &__title {
    &--single-post {
      font-size: 14px;
    }

    &--multiple-posts {
      float: left;
      font-size: 16px;
      display: none;
      &::after {
        content: ' ';
        display: block;
        clear: both;
      }
    }

  }

  &__socials-link {
    display: none;
    float: right;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;

    &::after {
      content: ' -';
    }
  }

  &__images-container {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;

  }
  &__img {
    width: 100%;
  }

  @media all and (min-width: 500px) {
    &__img {
      width: 50%;
    }
  }
  @media all and (min-width: 768px) {
    &__img {
      width: 33.33%;
    }
  }
  @media all and (min-width: 1200px) {
    &__img {
      width: 25%;
    }
  }


  @media all and (min-width: 500px) {
    &__title {
      &--single-post {
        display: none;
      }

      &--multiple-posts {
        display: unset;
      }
    }

    &__socials-link {
      display: initial;
    }
  }

}
