/*Common Styles*/
:root {
    --table-heading-color: #FAFAFA;
    --table-light-color: #F2F2F2;
    --table-dark-color: #E3E3E3;
    --premium-option-color: #20807C;
    --ultimate-option-color: #F04A56;
    --standard-option-color: #89C331;
    --text-color: #484848;
    --icon-color: #848484;
    --button-bg-color: #484848;
    --border-color: #3A4965;
    font-family: 'Arimo', sans-serif;
}

table {
    width: 1192px;
    box-sizing: border-box;
    border: 30px solid var(--border-color);
    margin-bottom: 100px;

    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}
table button {
    background-color: var(--button-bg-color);
}
table td {
    vertical-align: middle;
    width: 25%;
    padding: 1em 0;
}
table thead {
    line-height: 28px;
    font-weight: 700;
}
.fas::before {
    color: var(--icon-color);
    padding-right: 5px;
}
.standard-option {
    background-color: var(--standard-option-color) !important;
}

.ultimate-option {
    background-color: var(--ultimate-option-color) !important;
}

.premium-option {
    background-color: var(--premium-option-color) !important;
}

.CTA-button {
    width: 195px;
    padding: 1.2em 0 0.6em;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 9px solid rgba(0,0,0,0.05);
    box-shadow: 0 1px rgba(0,0,0,0.1);

    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

/*Common Styles End*/

/*Vertical Table Styles*/
/* -||- general styles*/


#pricing-table-vertical td:not(.option-name) {
    border-left: 1px solid #D3D3D3;
}

#pricing-table-vertical tr td:first-child {
    border-left: none;
}


/* -||- general styles end*/

/* -||- heading styles*/


.table-descr {
    font-size: 30px;
    background-color: #FFF;
}

.table-descr:first-line {
    font-size: 18px;
}

.option-name {
    font-size: 24px;
    color: #fff;
}

#pricing-table-vertical .option-price {
    font-size: 60px;
    padding: 0.2em 0 0.4em;
}

#pricing-table-vertical .option-price:first-child {
    border-left: 1px solid #D3D3D3;
}


#pricing-table-vertical .option-price sup {
    vertical-align: text-top;
    font-size: 24px;
}

#pricing-table-vertical .option-price .option-billing-period {
    vertical-align: bottom;
    position: relative;
    left: -10%;
    font-size: 18px;
    font-weight: 400;
}
/* -||- heading styles*/

/* -||- body styles*/
#pricing-table-vertical tbody td {
    padding: 1.5em 0;
}
#pricing-table-vertical tbody tr:nth-child(2n) {
    background-color: var(--table-dark-color);
}
#pricing-table-vertical tbody tr:nth-child(2n-1) {
    background-color: var(--table-light-color);
}
/* -||- body styles*/

/* -||- footer styles*/

#pricing-table-vertical tfoot td:nth-child(2n) {
    background-color: #EEEEEE;
}
#pricing-table-vertical tfoot td:nth-child(2n+1) {
    background-color: #F4F4F4;
}
#pricing-table-vertical tfoot td:first-child {
    background-color: #DDD;
}
/* -||- footer styles end*/
/*Vertical Table Styles End*/




/*Horizontal Table Styles*/
/* -||- general styles*/
#pricing-table-horizontal td {
    width: 115px;
}

#pricing-table-horizontal td:nth-child(2n) {
    background-color: var(--table-dark-color);
}

#pricing-table-horizontal td:nth-child(2n-1) {
    background-color: var(--table-light-color);
}


/* -||- general styles end*/

/* -||- heading styles*/
#pricing-table-horizontal thead {
    border-bottom: 20px solid var(--border-color);
    line-height: 24px;
}

#pricing-table-horizontal .table-descr:first-line {
    font-size: 14px;
}

#pricing-table-horizontal .table-descr {
    font-size: 20px;
    line-height: 20px;
}
/* -||- heading styles end*/

/* -||- body styles*/

#pricing-table-horizontal .option-name {
    font-weight: 700;
    font-size: 36px;
    padding: 1em 25px;

}

#pricing-table-horizontal .option-name h2 {
    font-size: 24px;
    padding-bottom: 5px;
}

#pricing-table-horizontal .option-price sup {
    font-size: 18px;
    vertical-align: top;
}

#pricing-table-horizontal .option-billing-period {
    font-size: 14px;
    vertical-align: middle;
}

.option-name .CTA-button {
    margin-top: 10px;
}

#pricing-table-horizontal tbody td:not(:first-child) {
    line-height: 24px;
    padding: 0 1em;
    border-top: 1px solid #d3d3d3;
}

#pricing-table-horizontal tbody tr:first-child {
    border-top: none;
}

