:root {
    --body-color: #444444;

    --wrapper-color: #676767;

    --first-logo-part-color: #fff;
    --second-logo-part-color: #4bcaff;

    --theme-switch-text-color: rgb(227, 241, 255);
    --theme-switch-color: #35444F;

    --nav-menu-text-color: #484848;
    --nav-menu-color: rgb(227, 241, 255);
    --nav-menu-hover-color: rgba(75, 202, 255, 0.58);

    --aside-menu-border-color: 1px solid rgba(255,255,255, 0.1);
    --aside-menu-text-color: #d3d3d3;
    --aside-menu-color: #485863;
    --aside-menu-text-hover-color: #485863;
    --aside-menu-hover-color: #d3d3d3;

    --article-illustration-backgroung-color: #a4a4a4;
    --main-text-color: #d3d3d3;

    --footer-color: #35444F;
    --footer-text-color: #fff;
    --footer-text-hover-color: #61c0ea;

}