:root {
    --body-color: #fff;

    --wrapper-color: #ffffff;

    --first-logo-part-color: #000;
    --second-logo-part-color: #4BCAFF;

    --theme-switch-text-color: #fff;
    --theme-switch-color: #4BCAFF;

    --nav-menu-text-color: #fff;
    --nav-menu-color:#35444F;
    --nav-menu-hover-color: #222F3A;

    --aside-menu-border-color: 1px solid rgba(0,0,0, 0.1);
    --aside-menu-text-color: #485863;
    --aside-menu-color: none;
    --aside-menu-text-hover-color: #35444F;
    --aside-menu-hover-color: #DBDBDB;

    --article-illustration-backgroung-color: none;
    --main-text-color: #2c2c2c;

    --footer-color: rgba(99, 105, 110, 0.48);
    --footer-text-color: #010101;
    --footer-text-hover-color: #3181A6;

}