/*GENERAL*/
body {
    background-image: url('../imgs/background.png');
    background-size: auto 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}
/*GENERAL END*/


.central-container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 1028px;
}

/*HEADER*/
.site-header {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
}

.header-logo-image {
    /*float: left;*/
    margin-right: 8px;
}

.header-logo:hover .header-logo-image {
    content: url("../imgs/logo hover.png");
}

.header-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: end;
    font-weight: bold;
    font-size: 29px;
    line-height: 27px;
}

.header-logo-text-part {
    line-height: 12px;
    font-size: 18px;
}

.header-logo:hover .header-logo-text {
    color: #F26522;
}


.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    font-size: 18px;
}

.header-contacts-item {
    width: fit-content;
    display: inline;
}

.header-contacts-item:hover {
    color: #F26522;
}
/*HEADER END*/



/*MAIN*/
.offers-board {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px;
    margin-bottom: 35px;
}

.offers-board-item-illustr {
    width: 100%;
    max-width: 306px;
}

.offers-board-item-title {
    margin-top: 20px;
    text-align: center;
}
.offers-board-item:hover .offers-board-item-title{
    color: #F26522;
}

.offers-board-item-label {
    background: #F26522;
    width: 100%;
    position: absolute;
    bottom: -57px;
    padding: 10px 15px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    transition: 0.8s ease-in-out;
}

.offers-board-item-label-pricing-text {
    display: block;
    font-size: 10px;
    padding-bottom: 5px;
}
.offers-board-item-label-pricing-value {
    display: block;
    font-size: 20px;
}
.offers-board-item-label-CTA {
    display: block;
    font-size: 14px;
    /*padding-right: 16px;*/
}
.offers-board-item-label-CTA::after {
    content: url("../imgs/label-arrow.svg");
    padding-left: 16px;
}

.offers-board-item-decor-container {
    position: relative;
    overflow: hidden;
    border-right: 3px;
    border-left: 3px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    white   ,
                    rgba(0, 0, 0, 0)
            ) 1 100%;
}
.offers-board-item1:hover .offers-board-item1-label {
    transition: 0.8s ease-in-out;
    opacity: 1;
    bottom: 0;
}
.offers-board-item2:hover .offers-board-item2-label {
    transition: 0.8s ease-in-out;
    opacity: 1;
    bottom: 0;
}
.offers-board-item3:hover .offers-board-item3-label {
    transition: 0.8s ease-in-out;
    opacity: 1;
    bottom: 0;
}
.offers-board-item4:hover .offers-board-item4-label {
    transition: 0.8s ease-in-out;
    opacity: 1;
    bottom: 0;
}
.offers-board-item5:hover .offers-board-item5-label {
    transition: 0.8s ease-in-out;
    opacity: 1;
    bottom: 0;
}
.offers-board-item6:hover .offers-board-item6-label {
    transition: 0.8s ease-in-out;
    opacity: 1;
    bottom: 0;
}

/*MAIN END*/



/*FOOTER*/
.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.footer-text {
    font-size: 12px;
}
/*FOOTER ENDS*/

