body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
    padding: 40px 0;
    }

/*NAV STARTS HERE*/

.nav-list {
    text-align: center;
    height: 78px;
    /*vertical-align: bottom;*/
    padding: 30px;
    box-sizing: border-box;
}

.nav-list-item {
    display: inline-block;
    margin: 0 50px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.nav-link {
    color:inherit;
    text-decoration: inherit;
}
/*NAV ENDS HERE*/

/*MAIN STARTS HERE*/
.main-ill {
    width: 100%;
}

.main-article > * {
    margin-bottom: 38px;
    text-align: center;
}

.main-heading {
    margin: 0 0 38px 0;
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.main-para {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.main-button {
    display: block;
    margin: 0 auto;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border: 0;
}
/*MAIN ENDS HERE*/

/*FOOTER STARTS HERE*/
.footer {
    text-align: right;
}

.footer-copyright {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2.7px;
    color: #373737;
}
/*FOOTER ENDS HERE*/