body {
    padding: 30px;
}

#price-tag {
    display: block;
    width: fit-content;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 5px 0 20px;
    color: dimgrey;
}

.fa-times-circle {
    transition: 1s;
}

.fa-times-circle:hover{
    cursor: pointer;
    color: indianred;
}

#price {
    font-size: 1.2em;
    margin: 0 0.1em;
    font-weight: bold;
}

#input {
    border: 1px solid grey;
}


.warning-wrapper {
    position: relative;
    margin: 5px 0 0 45px;
    overflow: hidden;
    height: 16px;
}

.warning-shown {
    top: 0 !important;
    color: rgba(255,0,0,1) !important;
}

#warning {
    position: absolute;
    top: -85%;
    color: rgba(255,0,0,0);
    transition: 1s ease-out;
}

