body {
  font-family: 'Roboto', sans-serif;
}

.padding-wrapper {
  padding: 0 25px;
}
@media all and (min-width: 768px) {
  .padding-wrapper {
    padding: 0 80px;
  }
}
@media all and (min-width: 1200px) {
  .padding-wrapper {
    padding: 0 160px;
  }
}

.sections-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;

  &::before {
    content: '- ';
  }
}


main {
  color: $main-text-color;
}

