$main-text-color: #4E4E4E;
$meta-text-color: #7C7C7C;
$thumbnail-text-color:#5C5C5C;
$home-page-link-color: #57A4A4;
$footer-text-color: #B9B9B9;

$dropdown-nav-menu-background:#F5F5F5;
$dropdown-nav-menu-background-hover: #E5E5E5;



$socials-colors: (
        'rss': #BF6F23,
        'facebook': #2C457A,
        'twitter': #3588AF,
        'dribbble': #A75E88,
        'pinterest': #9D1922,
);