@font-face {
    font-family: 'News Gothic Bold';
    src: url('../fonts/MNewsGothic-Bold.ttf') format('truetype');
    font-weight: bold;
}
html, body {
    height: 100%;
    background: #000;
}
main {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    perspective: 500px;
    perspective-origin: center -3%;
    color: #E1BD27;
    font-family: 'News Gothic Bold', sans-serif;
    font-size: 200px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: center;
    position: relative;
}

.container {
    position: absolute;
    animation: flight 15s ease-in infinite;
}

.container * {
    margin-bottom: 0.5em;
}

.container p {
    text-align: justify;
}

@keyframes flight {
    0% {
        transform: rotateX(55deg) translate3d(0, 55%, 0);
    }
    100% {
        transform: rotateX(55deg) translate3d(0, -40%, -1500px);
    }
}

