/*COMMON STYLES*/
html {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}
section {
    padding: 50px 0;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.central-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.section-heading {
    margin: 0 auto 50px;
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
}

/*COMMON STYLES -- */

/*NAV STYLES*/
.site-nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #313131;
}

.nav-brand-box {
    display: flex;
    align-items: center;
}

.nav-logo {
    padding: 22px 27px;
}

.nav-company-name {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu-item {
    display: inline;
    margin: 0 17.5px;
    color: #FFF;
    text-transform: uppercase;
}

.nav-menu-item:hover {
    color: #14B9D5;
}

.nav-search {
    border: none;
    background-color: #000;
}

.nav-search-icon {
    padding: 25px 25px 25px 28px;
}

/*NAV STYLES -- */

/*HEADER STYLES*/
.site-header {
    box-sizing: border-box;
    padding: 164px 0 74px;
    background-image: url('../imgs/Backgrnds/header-background.png');
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-motto {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

.header-buttons-wrapper {
    margin-top: 44px;
}

.header-button {
    width: 170px;
    margin: 0 10px;
    padding: 17px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
}


.header-left-btn {
    background: #89CA62;
}

.header-right-btn {
    background: #14B9D5;
}

/*HEADER STYLES -- */

/*POP_POSTS STYLES */
.pop-posts {
    background: #F2F2F2;
}

.pop-posts-flex-container {
    max-height: 1000px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.pop-posts-item {
    margin-bottom: 15px;
    background-color: #fff;
}

.pop-posts-item-ill {
    width: 100%;
}

.pop-posts-item-title {
    text-align: center;
    margin: 22px auto;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

/*POP_POSTS STYLES -- */

/*POP_CLIENTS STYLES */
.pop-clients {
    background-image: url('../imgs/Backgrnds/Popular-Clients.png');
    background-size: 100% 100%;
    padding: 108px 0 192px;
}
.pop-clients-grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 95px;
    grid-auto-columns: minmax(max-content, 1fr);
    justify-items: center;
    align-items: center;
}

.pop-clients-section-title {
    grid-column: 1/5;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.pop-clients-client-logo {
    display: inline-block;
}

.pop-clients-section-title::after {
    display: block;
    content: '';
    margin: 87px auto 0;
    height: 3px;
    width: 60px;
    background: #18B4CF;
}
/*POP_CLIENTS STYLES -- */

/*TOP RATED STYLES*/
.top-rated {
    background-color: #E5E5E5;
    padding-bottom: 0;
}

.top-rated-grid-container {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
}

.top-rated-carousel-item{
    width: 100%;
}

/*TOP RATED STYLES -- */

/*HOT NEWS STYLES*/
.hot-news {
    background: rgba(0, 0, 0, 0.0001);
}

.top-news-grid-container {
    width: 100%;
    grid-gap: 45px;
    grid-template-columns: repeat(4, 1fr);
    text-align: right;
}

.top-news-grid-container > * {
    display: grid;
    background: #F9F7F7;
}

.top-news-item-title {
    place-self: center right;
    padding: 15px 24px;
    font-size: 17px;
    font-weight: 700;
}

.top-news-item-description {
    padding: 0 24px 5px;
    color: #5B6469;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.top-news-large-grid-item {
    grid-column: span 3;
    grid-template-rows: 2fr 5fr;
    grid-template-columns: 60% 40%;
}

.top-news-large-grid-item .top-news-item-illustration {
    grid-row: span 2;
    width: 100%;
    height: 100%;
}

.top-news-large-grid-item .top-news-item-title {
    grid-column: 2/3;
    place-self: self-end right;
}

.top-news-large-grid-item .top-news-item-description {
    grid-column: 2/3;
    place-self: self-start right;
}


.top-news-medium-grid-item {
    grid-column: span 2;
}

.top-news-medium-grid-item .top-news-item-illustration {
    width: 100%;
}

.top-news-small-grid-item {
    grid-auto-rows: min-content auto;
}
.top-news-small-grid-item .top-news-item-title {
    place-self: center center;
}

/*HOT NEWS STYLES -- */

/*FOOTER STYLES*/
.site-footer {
    background: #000;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
}

.footer-text {
    color: #FFF;
}

.footer-agency-logo-part {
    vertical-align: top;
    padding: 27px 0;
}

/*FOOTER STYLES -- */