.page-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

/*HEADER STARTS HERE*/
header {
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-name {
    display: inline-block;
    font-size: 80px;
    padding-bottom: 38px;
}

.logo-part {
    color: #60b9ff;
}

/*HEADER-logo ENDS HERE*/
/*HEADER-nav STARTS HERE*/


.site-nav-list {
    background: #35444f;
    display: flex;
    justify-content: center;
}

.site-nav-list__item {
    font-size: 24px;
    color: #FFF;
    display: inline-block;
    padding: 1em 1.5em;
    border-left: 1px solid white;
}
.site-nav-list__item:hover {
    background: #222F3A;
}


.site-nav-list__item:last-child {
    /*Возможно, делать все кнопки только с левым отступом, а последний с двумя - не очень, но паддинги не схопываются*/
    border-right: 1px solid white;
}

/*HEADER-nav ENDS HERE*/
/*HEADER ENDS HERE*/

/*MAIN STARTS HERE*/
.site-main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.site-main > * {
    box-sizing: border-box;
}

/*MAIN-aside-nav STARTS HERE*/
.main-aside {
    display: inline-block;
    width: 26%;
    border: 1px solid rgba(0,0,0, 0.1);
}
.main-article-nav-list__item {
    color: #485863;
    font-size: 27px;
    padding: 26px 44px;
    list-style: none;
}

.main-article-nav-list__item:hover {
    background: #DBDBDB;
    padding-left: 2em;
}
/*MAIN-aside-nav ENDS HERE*/

/*MAIN-article STARTS HERE*/
.main-article {
    display: inline-block;
    width: 69%;
}

.main-article-ill-container {
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 55px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ramda-logo:hover {
    transition: 1s;
    transform: scale(1.3);
}

.img-ramda-logo:not(:hover) {
    transition: 1s;
}

.article-text-para {
    padding-top: 37px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}
/*MAIN-article ENDS HERE*/
/*MAIN ENDS HERE*/

/*FOOTER STARTS HERE*/
.site-footer {
    margin-top: 55px;
    padding: 24px 40px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*FOOTER_nav STARTS HERE*/
.footer-nav-list {
    display: inline-block;
    box-sizing: border-box;
}

.footer-nav-list__item {
    color: #0C1927;
    font-size: 24px;
    display: inline;
    padding: 0 12px;
    transition: 0.1s;
}

.footer-nav-list__item:hover {
    color: #3181A6;
    text-decoration: underline;
}

/*FOOTER_nav ENDS HERE*/

/*FOOTER-CopyR STARTS HERE*/
.footer-text {
    color: #010101;
    font-size: 22px;
}
/*FOOTER-CopyR ENDS HERE*/
/*FOOTER ENDS HERE*/