* {
    transition: 0.5s;
}
body {
    background: var(--body-color);
}

.page-wrapper {
    background: var(--wrapper-color);
    width: 100%;
    max-width: 1280px;
    margin: 60px auto 0;
    padding: 30px;
    font-family: sans-serif;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

/*HEADER STARTS HERE*/
header {
    font-size: 25px;
}

.site-name {
    width: fit-content;
    display: inline-block;
    font-size: 3em;
    padding-bottom: 38px;
}

.first-logo-part {
    color: var(--first-logo-part-color);
}

.second-logo-part {
    color: var(--second-logo-part-color);
}

/*HEADER-logo ENDS HERE*/

/*HEADER-themeSwitcher HERE*/
#theme-switch-wrapper {
    position: relative;
    min-height: calc(3em);
    float: right;
    width: 275px;
    display: inline-block;
    margin: 0 auto;
    border: 3px solid var(--nav-menu-color);
    border-radius: 10px;
}
#theme-switch {
    position: absolute;
    top:50%;
    transform: translateY(-50%);

    outline: none;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background: var(--theme-switch-color);

    font-size: 1em;
    font-weight: bold;
    color: var(--theme-switch-text-color);
}

.switch-position-left {
    left: 0.3em;
    right: initial;
}

.switch-position-right {
    left: initial;
    right: 0.3em;
}
/*HEADER-themeSwitcher END*/

/*HEADER-nav STARTS HERE*/


.site-nav-list {
    background: var(--nav-menu-color);
    display: flex;
    justify-content: center;
}

.site-nav-list__item {
    text-align: center;
    font-size: 1em;
    color: var(--nav-menu-text-color);
    display: inline-block;
    padding: 1em 1.5em;
    border-left: 1px solid white;
}
.site-nav-list__item:hover {
    background: var(--nav-menu-hover-color);
}


.site-nav-list__item:last-child {
    /*Возможно, делать все кнопки только с левым отступом, а последний с двумя - не очень, но паддинги не схопываются*/
    border-right: 1px solid white;
}

/*HEADER-nav ENDS HERE*/
/*HEADER ENDS HERE*/

/*MAIN STARTS HERE*/
.site-main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.site-main > * {
    box-sizing: border-box;
}

/*MAIN-aside-nav STARTS HERE*/
.main-aside {
    display: inline-block;
    width: 26%;
    background: var(--aside-menu-color);
    border: var(--aside-menu-border-color);
}
.main-article-nav-list__item {
    color: var(--aside-menu-text-color);
    font-size: 27px;
    padding: 26px 44px;
    list-style: none;
}

.main-article-nav-list__item:hover {
    color: var(--aside-menu-text-hover-color);
    background: var(--aside-menu-hover-color);
    padding-left: 2em;
}
/*MAIN-aside-nav ENDS HERE*/

/*MAIN-article STARTS HERE*/
.main-article {
    display: inline-block;
    width: 69%;
}

.main-article-ill-container {
    border: 1px solid rgba(0,0,0, 0.1);
    background: var(--article-illustration-backgroung-color);
    padding: 55px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-ramda-logo:hover {
    transition: 1s;
    transform: scale(1.3);
}

.img-ramda-logo:not(:hover) {
    transition: 1s;
}

.article-text-para {
    padding-top: 37px;
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 24px;
}
/*MAIN-article ENDS HERE*/
/*MAIN ENDS HERE*/

/*FOOTER STARTS HERE*/
.site-footer {
    margin-top: 55px;
    padding: 24px 40px;
    background: var(--footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*FOOTER_nav STARTS HERE*/
.footer-nav-list {
    display: inline-block;
    box-sizing: border-box;
}

.footer-nav-list__item {
    color: var(--footer-text-color);
    font-size: 24px;
    display: inline;
    padding: 0 12px;
    transition: 0.1s;
}

.footer-nav-list__item:hover {
    color: var(--footer-text-hover-color);
    text-decoration: underline;
}

/*FOOTER_nav ENDS HERE*/

/*FOOTER-CopyR STARTS HERE*/
.footer-text {
    color: var(--footer-text-color);
    font-size: 22px;
}
/*FOOTER-CopyR ENDS HERE*/
/*FOOTER ENDS HERE*/